body {
    background-color: #f8f9fa; 
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
#detalheHistorico {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}

#detalheHistorico li {
    word-wrap: break-word;
}

#detalheDescricao {
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.texto-quebra {
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.grafico-wrapper {
    width: 500px;
    height: 115px;
    margin: 0 auto;
}

table td, table th, p {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.table td:nth-child(2),
.table th:nth-child(2) {
    max-width: 250px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}